:root{
    --footer-action-padding: 30px;
    --footer-button-width: 50vw;
    --footer-translate: 100px;
    --footer-border-width: 10px;
    --footer-border-radius: 1000px;
    --footer-containter-font-size:3rem;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid hsl(0, 0%, calc(85% - var(--theme) * 70%));
}
.footer-left-action {
    grid-column: 1;
}
.footer-left-action button {
    box-sizing: border-box;
    width: var(--footer-button-width);
    padding-right: var(--footer-action-padding);
    transform: translateX(calc( -1 * var(--footer-translate)));
    border-width: var(--footer-border-width);
    border-radius: var(--footer-border-radius);
    text-align: right;
    font-size: var(--footer-containter-font-size);
}
.footer-right-action {
    grid-column: 2;
}
.footer-right-action button {
    box-sizing: border-box;
    width: var(--footer-button-width);
    padding-left: var(--footer-action-padding);
    transform: translateX(var(--footer-translate));
    border-width: var(--footer-border-width);
    border-radius: var(--footer-border-radius);
    text-align: left;
    font-size: var(--footer-containter-font-size);
}