:root{
    --lightTheme:1;
    --darkTheme:0;
    --theme: 1; 
    --sunUnicode: &#9728;
    --moonUnicode: &#9789;
    --currentUnicode: &#9728;
    /*transition variable, used in javascript*/
    --t: 1;
    --transitions: .2s;
    --border-width: 3px;
    --copyright-border-width: 1px;
}
.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 10px;
    border-bottom: var(--border-width) solid hsl(0, 0%, calc(85% - var(--theme) * 70%));
}
.header-left-action {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
}
.header-right-action {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}
.symbol {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
}
header{
    text-align: center;
    background-color: hsl(0, 0%, calc(0.00% + (var(--theme) * 100%)));
}
body {
    overflow-x: hidden;
    width:100%;
    height:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: hsl(0, 0%, calc(0% + (var(--theme) * 100%)));
}
main {
    flex: 1;
    
}
footer {
    text-align: center;
    padding-bottom: 5px;
}
button{
    color: hsl(0, 0%, calc(95% - (var(--theme) * 90%)));
    background-color: hsla(0, 0%, calc(90% - (var(--theme) * 90%)), 0);
    border-style: solid;
    border-color: hsl(0, 0%, calc(10% + (var(--theme) * 80%)));
}
.default-button{
    font-size: 3.0rem;
    border-radius: 10px;
    border-width: 3px;
}
button:hover{
    background-color: hsla(0, 0%, calc(10% + (var(--theme) * 80%)), 1);
    cursor: pointer;
}
h1 {
    color:hsl(0, 0%, calc(95% - (var(--theme) * 90%)));
}
h2 {
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
h3 {
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
h4 {
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
h5 {
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
h6 {
    color:hsl(0, 0%, calc(10% + (var(--theme) * 80%)));
}
.default-text{
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
.centered-title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.centered-subtitle {
    font-size: 3.0rem;
    margin: 0;
    text-align: center;
}
.subtitle-highlight {
    display: block;
    margin-top: 5px;
    font-size: 75%;
    line-height: 1.2;
}
.copyright {
    display: block;
    border-top: var(--copyright-border-width) solid hsl(0, 0%, calc(85% - var(--theme) * 70%));
    width: 100vw;
}