:root {
    --first-column-size: 25vw;
}
main{
    display: flex;
    flex-direction: column;
}
.divide{
    display: grid;
    grid-template-columns: var(--first-column-size) 1fr;
    padding: 0px 10px;
    flex: 1;
}
.projectimg{
    max-width:100%
}
.description{
    font-size: 1.25rem;
    white-space: pre-wrap;
    word-break: break-word;
}

.divide > *:not(:last-child) {
    border-right: var(--border-width) solid hsl(0, 0%, calc(85% - var(--theme) * 70%));
}
.divide > * {
    padding: 10px 20px;
}
.main-left{
    grid-column: 1;
}
.main-right{
    grid-column: 2;
}
