:root{
    --lightTheme:1;
    --darkTheme:0;
    --theme: 1; 
    /*transition variable, used in javascript*/
    --t: 1;
    --transitions: .2s;
    --footer-action-padding: 30px;
    --footer-button-width: 50vw;
    --footer-translate: 100px;
    --footer-border-radius: 1000px;
    --footer-containter-font-size:3rem;
}

.preload *{
    transition:none !important;
}

/*
seems to work inconsistently
* {
    transition: background-color var(--transitions) ease, color var(--transitions) ease, border-color var(--transitions) ease;
}
    */

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 3px solid hsl(0, 0%, calc(85% - var(--theme) * 70%));
}
.header-left-action {
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
}
.header-right-action {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid hsl(0, 0%, calc(85% - var(--theme) * 70%));
}
.footer-left-action {
    grid-column: 1;
}
.footer-left-action button {
    box-sizing: border-box;
    width: var(--footer-button-width);
    padding-right: var(--footer-action-padding);
    transform: translateX(calc( -1 * var(--footer-translate)));
    border-radius: var(--footer-border-radius);
    text-align: right;
    font-size: var(--footer-containter-font-size);
}
.footer-right-action {
    grid-column: 2;
}
.footer-right-action button {
    box-sizing: border-box;
    width: var(--footer-button-width);
    padding-left: var(--footer-action-padding);
    transform: translateX(var(--footer-translate));
    border-radius: var(--footer-border-radius);
    text-align: left;
    font-size: var(--footer-containter-font-size);
}
.centered-title {
    font-size: 5.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.centered-subtitle {
    font-size: 3.0rem;
    margin: 0;
    text-align: center;
}
.subtitle-highlight {
    display: block;
    margin-top: 5px;
    font-size: 75%;
    line-height: 1.2;
}
header{
    text-align: center;
    background-color: hsl(0, 0%, calc(0.00% + (var(--theme) * 100%)));
}
body {
    overflow-x: hidden;
    width:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: hsl(0, 0%, calc(0% + (var(--theme) * 100%)));
}
main {
    flex: 1;
}
footer {
    text-align: center;
    padding-bottom: 5px;
}
button{
    color: hsl(0, 0%, calc(95% - (var(--theme) * 90%)));
    background-color: hsla(0, 0%, calc(90% - (var(--theme) * 90%)), 0);
    border-style: solid;
    border-color: hsl(0, 0%, calc(10% + (var(--theme) * 80%)));
}
.default-button{
    font-size: 3.0rem;
    border-radius: 10px;
    border-width: 3px;
}
button:hover{
    background-color: hsla(0, 0%, calc(10% + (var(--theme) * 80%)), 1);
    cursor: pointer;
}
.default-text{
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}

h1 {
    color:hsl(0, 0%, calc(95% - (var(--theme) * 90%)));
}
h2 {
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
h3 {
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
h4 {
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
h5 {
    color:hsl(0, 0%, calc(80% - (var(--theme) * 60%)));
}
h6 {
    color:hsl(0, 0%, calc(10% + (var(--theme) * 80%)));
}