{% extends "main.html" %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">{% endblock %}
{% block title %}{{project.title}}{% endblock %}
{% block content %}
    <div class="divide">
        <div class="main-left">
            <img class ="projectimg" src="{{url_for('static', filename='img/' ~ project.imglink)}}" alt="Project Image">
            <h2> Languages: {{project.languages | join(', ')}}</h2>
        </div>
        <div class="main-right">
            <h1 class="centered-title">{{project.title}}</h1>
            <pre class="default-text description">{{project.desc}}</pre>
            <h1 class="default-text">Skills & Concepts Demonstrated</h1>
            <pre class="default-text description">{{project.features}}</pre>
        </div>
    </div>
{% endblock %}